fastapi==0.60.1
pandas==1.1.0
plotly==4.9.0
uvicorn==0.11.8
google-cloud-vision==1.0.0
autocorrect==2.1.0
spacy==2.2.4
nltk==3.5
python-dotenv==0.13.0
remote_pdb==2.1.0
boto3==1.14.58
starlette==0.13.6

